@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS Variables and Base Styles */
:root {
  --color-black: #000000;
  --color-brown: #A52A2A;
  --color-orange: #FFA500;
  --color-tan: #D2B48C;
  --color-tan-hover: #dfcaae;
  --color-white: #FFFFFF;
  --color-yellow: #FFFF00;
  --color-blue-gray: #211A12;
  --color-border-gray: #1C160F;
  --color-gray-200: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--color-blue-gray);
  color: var(--color-white);
  height: 100%;
  overflow: hidden;
}

#svelte {
  height: 100%;
  width: 100%;
}
