@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS Variables and Base Styles */
:root {
	--color-black: #000000;
	--color-brown: #a52a2a;
	--color-orange: #ffa500;
	--color-tan: #d2b48c;
	--color-tan-hover: #d2b48c;
	--color-white: #ffffff;
	--color-yellow: #ffff00;
	--color-blue-gray: #211a12;
	--color-border-gray: #1c160f;
	--color-chart-frame: #af9874;
	--color-gray-200: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, sans-serif;
	background-color: var(--color-blue-gray);
	color: var(--color-white);
	height: 100%;
	overflow: hidden;
}

#svelte {
	height: 100%;
	width: 100%;
}
